@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.form_wrapper, .center_wrapper {
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.login,.password,.email {
    background-color: #000; 
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    margin-bottom:20px;
    font-size:18px;
    outline:none;
    border-radius:10px;
}

input {
    display: block;
    box-sizing: border-box;
    padding:20px;
    font-size:18px;
    outline:none;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: 'Manrope', sans-serif;
}

input, select, textarea{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Manrope', sans-serif;
}
  
label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}
  
button[type="submit"],
input[type="submit"] {
    background: #000000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
}
  
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}
  
input:disabled {
    opacity: 0.4;
}
  
input[type="button"]:hover {
    transition: 0.3s all;
}
  
button[type="submit"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    display:block;
    margin:auto;
}
  
button[type="button"] {
    display: block;
    appearance: none;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

.auth_title {
    text-align: center;
    margin-top:220px;
    font-family: 'Manrope', sans-serif;
    font-size:35px;
}

.profile, span {
    font-size:15px;
    float:right;
    margin-top:15px;
    margin-right:5px;
}



.book_name {
    font-size:20px;
}

.book_author {
    font-size:18px;
}


.alert_success {
    animation: fadein 5s linear 1 normal forwards;
}

@keyframes fadein{
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
    }
}


.alert_error {
    animation: fadein 5s linear 1 normal forwards;
}

@keyframes fadein{
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.nicname_input,
.status_input,
.avatar_input,
.bg_url {
    background-color: #000; 
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    margin-bottom:20px;
    font-size:18px;
    outline:none;
    border-radius:10px;

}

.nicname_input::placeholder,
.status_input::placeholder, 
.avatar_input::placeholder {
    color: rgb(255, 255, 255);
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

input.save_button {
    color:#000;
    background-color:#ffb54d;
    font-size:15px;
    display: block;
    font-size:18px;
    outline:none;
    width:140px;
    height:70px;
}

.title_main {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin-top:160px;
}

.title__book {
    margin-top:20px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size:30px;
}

.log-in {
    font-size:15px;
    float:right;
    margin-top:15px;
    margin-right:5px;
}

.select_book {
    background-color:#ffb54d;
    border:1px solid rgb(0, 0, 0);
    border-radius:5px;
    position: relative;
    left:95px;
    top:10px;
    width: 100%;
    max-width: 15%;
    border-radius:5px;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size:18px;
}

select option {
    background-color:#ffffff;
}

.check_email {
    text-align: center;
    position: relative;
    top:120px;
    font-family: 'Manrope', sans-serif;

}

.registration_link {
    font-family: 'Manrope', sans-serif;
}

.reset_password {
    text-align: center;
    position: relative;
    top:40px;
    cursor: pointer;
}

.leader_title h2 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    position: relative;
    top:50px;
}

.leader_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:100px;
}

.leaders_table {
    background-color:rgb(255, 255, 255);
    width:834px;
    height:466px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:120px;
    border-radius:10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.leader_avatar {
    border-radius:150px;
    width:80px;
    padding:20px;
    display:block;
    margin:auto;
}

.leader_username {
    position: relative;
    text-align: center;
}

.leaders_table h3 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    position: relative;
    top:15px;

}


.admin_manage_table {
    background-color:#FFEBB9;
    width:800px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:120px;
    border-radius:10px;
    -webkit-box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
    -moz-box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
    box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
}

.manage_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.manage_buttons div {
    position: relative;
    top:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:35px;
    flex: 0 0 200px;
}

.manage_buttons input {
    width:40%;
    padding:10px;
    color:#000;
    position: relative;
    left:10px;
    border: 1px solid rgb(0, 0, 0);
}

.book_name_review {
    text-align: center;
    position: relative;
    top:5px;
    font-family: 'Manrope', sans-serif;
}

.book_title_review {
    text-align: center;
    position: relative;
    top:10px;
    font-family: 'Manrope', sans-serif;
}

.book_description_review {
    text-align: center;
    position: relative;
    top:20px;
    font-family: 'Manrope', sans-serif;
}


.review_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_card_profile {
    background-color:#FFE7CB;
    position: relative;
    display: block;
    margin:0 auto;
    top:100px;
    width:30%;
    height:170px;
    border-radius:10px;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    border: solid rgb(0, 0, 0) 1px;
    padding:35px;
}

.review_card_profile span {
    top:-8px;
    float:none;
    display: flex; 
    justify-content: center
}

.review_card_profile * {
    font-size:25px;
}

.title_reviews_user {
    text-align: center;
    position: relative;
    top:60px;
    font-family: 'Manrope', sans-serif;
}