@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    background-color:#FF7A00;
}

.header img {
    float: left;
    margin-left:15px;
    margin-top:10px;
    width:40px;
}
  
.header h1 {
    font-family: 'Manrope', sans-serif;
    position: relative;
    top:10px;
    font-size:28px;
    height:50px;
    width:50%;
    display: inline-block

}

.welcome_title {
    font-size:25px;
    text-align: center;
    margin-top:45px;
    font-family: 'Manrope', sans-serif;
}

.site_description {
    font-size:27px;
    text-align: center;
    margin-top:60px;
    font-family: 'Manrope', sans-serif;
}

.library_photo {
    display:block;
    margin:auto;
    width:1053px;
    height: 475px;
    margin-top:60px;
    border-radius:10px;
    border: 1px solid;
}

.log-in {
    float:right; 
    margin-right:10px;
}
  
  
.form_wrapper, .center_wrapper {
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.login,.password {
    background-color: #000; 
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    margin-bottom:20px;
    font-size:18px;
    outline:none;
    border-radius:10px;
}

input {
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    font-size:18px;
    outline:none;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: 'Manrope', sans-serif;
}

input, select, textarea{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Manrope', sans-serif;
}
  
label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}
  
button[type="submit"],
input[type="submit"] {
    background: #000000;
    color: white;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
}
  
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}
  
input:disabled {
    opacity: 0.4;
}
  
input[type="button"]:hover {
    transition: 0.3s all;
}
  
button[type="submit"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    width: 30%;
    display:block;
    margin:auto;
}
  
button[type="button"] {
    display: block;
    appearance: none;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

.auth_title {
    text-align: center;
    margin-top:220px;
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.profile, span {
    font-size:15px;
    float:right;
    margin-top:15px;
    margin-right:5px;
}

.user_avatar {
    width:299px;
    height:275px;
    margin-top:80px;
    margin-left:70px;
    border: 2px solid #000000;
    border-radius:5px;
}
.text-block {
    width:700px;
    height:150px;
    background-color:rgb(0, 0, 0);
    margin-left:auto;
    margin-right:auto;
    margin-top:-280px;
    border-radius:10px;
}

.description {
    color:white;
    text-align:center;
    margin-top:10px;
}

.username {
    text-align:center;
    font-size:25px;
    color:white;
}

.books_menu {
    justify-content: center;
    display: flex;
}

.books_menu li {
    color:black;
    margin-top:160px;
    padding:25px;
    font-family: 'Roboto', sans-serif;

}

.readed {
    margin-left:130px;
    height:40px;
    width:40px;
}

.drop {
    height:40px;
    width:40px;
    margin-left:90px;
}

.planned {
    height:40px;
    width:40px;
    margin-left:90px;

}

.reviews {
    height:40px;
    width:40px;
    margin-left:100px;
}

.count_readed {
    margin-left:145px;
    margin-top:5px;
}

.count_drop {
    margin-left:275px;
    margin-top:10;
}

.count_menu {
    justify-content: center;
    display: flex;
}

.count_menu li {
    padding-left:90px;
}

.count_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top:-40px;
}

.readed_count,
.reviews_count,
.drop_count,
.planned_count {
    margin:55px;
    padding:5px 1% 5px 5px;
}
.title__catalog {
    text-align: center;
    margin-top:130px;
    font-family: 'Roboto', sans-serif;
}


.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book__card {
    padding:10px;
}
  

.book_name {
    font-size:20px;
}

.book_author {
    font-size:18px;
}

.container {
    padding: 2px 20px;
}