@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    background-color:#FF7A00;
}

.header img {
    float: left;
    margin-left:15px;
    margin-top:10px;
    width:40px;
}
  
.header h1 {
    font-family: 'Manrope', sans-serif;
    position: relative;
    top:10px;
    font-size:28px;
    height:50px;
    width:50%;
    display: inline-block

}

.welcome_title {
    font-size:25px;
    text-align: center;
    margin-top:45px;
    font-family: 'Manrope', sans-serif;
}

.site_description {
    font-size:27px;
    position: relative;
    text-align: center;
    top:80px;
    font-family: 'Manrope', sans-serif;
}

.library_photo {
    display:block;
    margin:auto;
    position: relative;
    top:120px;
    width:40%;
    height:auto;
    border-radius:10px;
    border: 1px solid;
}

.log-in {
    float:right; 
    margin-right:10px;
}
  
  
.form_wrapper, .center_wrapper {
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.login,.password,.email {
    background-color: #000; 
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    margin-bottom:20px;
    font-size:18px;
    outline:none;
    border-radius:10px;
}

input {
    display: block;
    box-sizing: border-box;
    padding:20px;
    font-size:18px;
    outline:none;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: 'Manrope', sans-serif;
}

input, select, textarea{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Manrope', sans-serif;
}
  
label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}
  
button[type="submit"],
input[type="submit"] {
    background: #000000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
}
  
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}
  
input:disabled {
    opacity: 0.4;
}
  
input[type="button"]:hover {
    transition: 0.3s all;
}
  
button[type="submit"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    display:block;
    margin:auto;
}
  
button[type="button"] {
    display: block;
    appearance: none;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

.auth_title {
    text-align: center;
    margin-top:220px;
    font-family: 'Manrope', sans-serif;
    font-size:35px;
}

.profile, span {
    font-size:15px;
    float:right;
    margin-top:15px;
    margin-right:5px;
}

.user_avatar {
    width:299px;
    height:275px;
    margin-top:80px;
    margin-left:70px;
    border: 2px solid #000000;
    border-radius:5px;
}
.description-block {
    width:700px;
    height:150px;
    background-color:rgb(0, 0, 0);
    margin-left:auto;
    margin-right:auto;
    position: relative;
    top:-200px;
    border-radius:10px;
}

.description {
    color:white;
    text-align:center;
    margin-top:10px;
}

.username {
    text-align:center;
    font-size:25px;
    color:white;
}

.books_menu {
    justify-content: center;
    display: flex;
    position: relative;
    top:-180px;
}

.books_icons {
    display: flex;
    justify-content: center;
    position: relative;
    top:-230px;

}

.books_icons img {
    margin:53px; /*52,*/
    position: relative;
}

.books_icons img:last-child {
    position: relative;

}

.books_menu li {
    color:black;
    padding:35px;
    font-family: 'Manrope', sans-serif;

}



.count_menu {
    justify-content: center;
    display: flex;
}


.count_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top:-330px;
    left:4px;
}

.readed_count,
.reviews_count,
.drop_count,
.planned_count {
    margin:62px;
    padding:5px 1% 5px 5px;
}
.title__catalog {
    text-align: center;
    margin-top:130px;
    font-family: 'Manrope', sans-serif;
}



.book__card {
    position: relative;
    top:60px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:400px;
    padding:15px;
    flex-basis:50%;
}
  


.book_name {
    font-size:20px;
}

.book_author {
    font-size:18px;
}



.btn-group {
    display: inline-block;
    position: relative;
    top:50px;
    left:6.5%;
    background-color:rgb(199, 199, 199);
    border-radius: 10px;
}

.btn-group button {
    background-color: rgba(255, 255, 255, 0.774); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px;
    cursor: pointer;
    border:none; 
    outline:none;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group button:hover {
    background-color: rgb(255, 213, 122);
}

.book_cover {
    position: relative;
    top:40px;
    padding-right:70%;
    width:25%;
    height:15%;
}

.title_book {
    position: relative;
    top:30px;
    font-family: 'Manrope', sans-serif;
    text-align:center;
}

.description_book {
    font-family: 'Manrope', sans-serif;
    position: relative;
    top:40px;
    text-align: center;

}

.btn-readed, .btn-planned,.btn-drop {
    color:white;
}

.alert_success {
    animation: fadein 5s linear 1 normal forwards;
}

@keyframes fadein{
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
    }
}


.alert_error {
    animation: fadein 5s linear 1 normal forwards;
}

@keyframes fadein{
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.nicname_input,
.status_input,
.avatar_input,
.bg_url {
    background-color: #000; 
    display: block;
    box-sizing: border-box;
    padding:20px;
    width:300px;
    margin-bottom:20px;
    font-size:18px;
    outline:none;
    border-radius:10px;

}

.nicname_input::placeholder,
.status_input::placeholder, 
.avatar_input::placeholder {
    color: rgb(255, 255, 255);
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

input.save_button {
    color:#000;
    background-color:#ffb54d;
    font-size:15px;
    display: block;
    font-size:18px;
    outline:none;
    width:140px;
    height:70px;
}

.title_main {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin-top:160px;
}

.title__book {
    margin-top:20px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size:30px;
}

.search_books {
    display: block;
    position: relative;
    top:40px;
    margin-right: auto;
    margin-left: auto;
    color:#000;
    width:40%;
    border:2px solid #000;
    padding: 10px 10px; 
    line-height: 10px;
}

.log-in {
    font-size:15px;
    float:right;
    margin-top:15px;
    margin-right:5px;
}

.select_book {
    background-color:#ffb54d;
    border:1px solid rgb(0, 0, 0);
    border-radius:5px;
    position: relative;
    left:95px;
    top:10px;
    width: 100%;
    max-width: 15%;
    border-radius:5px;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size:18px;
}

select option {
    background-color:#ffffff;
}

.check_email, .email_confirm {
    text-align: center;
    position: relative;
    top:120px;
    font-family: 'Manrope', sans-serif;

}

.email_icon,.icon_success {
    width:300px;
    height:300px;
    display: block;
    margin:0 auto;
    position: relative;
    top:125px;
}

.registration_link {
    font-family: 'Manrope', sans-serif;

}

.reset_password {
    text-align: center;
    position: relative;
    top:40px;
    cursor: pointer;
}

.leader_title h2 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    position: relative;
    top:50px;
}

.leader_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:100px;
}

.leaders_table {
    background-color:rgb(255, 255, 255);
    width:834px;
    height:466px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:120px;
    border-radius:10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.leader_avatar {
    border-radius:150px;
    width:80px;
    padding:20px;
    display:block;
    margin:auto;
}

.leader_username {
    position: relative;
    text-align: center;
}

.leaders_table h3 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    position: relative;
    top:15px;

}

.rules_wrap {
    position: relative;
    top:90px;
    text-align: center;
}

.rules_wrap  p {
    position: relative;
    top:10px;
    margin:5px;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}

.rules_wrap  h2 {
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

.title__user_error {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    position: relative;
    top:70px;
}

.admin_manage_table {
    background-color:#FFEBB9;
    width:800px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:120px;
    border-radius:10px;
    -webkit-box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
    -moz-box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
    box-shadow: 0px 2px 5px 2px rgb(250, 217, 126);
}

.manage_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.manage_buttons div {
    position: relative;
    top:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:35px;
    flex: 0 0 200px;
}

.manage_buttons input {
    width:40%;
    padding:10px;
    color:#000;
    position: relative;
    left:10px;
    border: 1px solid rgb(0, 0, 0);
}

.search_button {
    all: unset;
    cursor: pointer;
    background-color:rgb(101, 245, 166);
    width:5%;
    height:40px;
    text-align:center;
    color:rgb(0, 0, 0);
    position: relative;
    top:85px;
    left:71%;
    font-family: 'Manrope';
    box-shadow: "0px 5px 5px -5px rgba(34, 60, 80, 0.6)";
    -webkit-box-shadow: 0px 5px 10px 2px rgba(143, 255, 146, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(143, 255, 146, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(143, 255, 146, 0.2);
}

.search_button:hover {
    background-color:rgb(255, 255, 255);
}

.review_card {
    background-color:#FFE7CB;
    position: relative;
    top:80px;
    left:auto;
    right:auto;
    width:40%;
    height:220px;
    border-radius:10px;
    border: solid rgb(0, 0, 0) 1px;
    display: block;
    margin:0 auto;
    margin-bottom:10px; 
}

.paragraph_wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: -1px 4px 5px rgb(255, 255, 255);
}



.author_review {
    position: relative;
    top:20px;
}   

.title_review {
    position: relative;
    top:30px;
}

.description_review {
    position: relative;
    top:40px;
}

.rules_link {
    display:flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    top:170px;
}

.rules_link a {
    margin-block:10px;
    font-family: 'Manrope', sans-serif;
}

.rules_link span {
    font-size:20px;
    margin:5px;
    font-family: 'Manrope', sans-serif;
}

.book_name_review {
    text-align: center;
    position: relative;
    top:5px;
    font-family: 'Manrope', sans-serif;
}

.book_title_review {
    text-align: center;
    position: relative;
    top:10px;
    font-family: 'Manrope', sans-serif;
}

.book_description_review {
    text-align: center;
    position: relative;
    top:20px;
    font-family: 'Manrope', sans-serif;
}


.review_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_card_profile {
    background-color:#FFE7CB;
    position: relative;
    display: block;
    margin:0 auto;
    top:100px;
    width:30%;
    height:170px;
    border-radius:10px;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    border: solid rgb(0, 0, 0) 1px;
    padding:35px;
}

.review_card_profile span {
    top:-8px;
    float:none;
    display: flex; 
    justify-content: center
}

.review_card_profile * {
    font-size:25px;
}

.title_reviews_user {
    text-align: center;
    position: relative;
    top:60px;
    font-family: 'Manrope', sans-serif;
}
